.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    height: ;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
  }