.main {
    backgroundImage: "url(/carousel-images/" + img + ".jpg)",
    backgroundSize: "cover",
                backgroundRepeat: "no-repeat",
                width: 500,
                height: 300
}